 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 487px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(77,96,100,0.4);
  font-size: 3.75rem;
  margin: 27px 85px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  margin: 15px 85px 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px 324px 0 85px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 45px 634px 0 305px;
  padding: 24px 41px 25px 40px;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  text-transform: none;
  margin: -77px auto 60px 85px;
  padding: 24px 52px 25px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 209px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 534px;
    margin-left: 215px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    padding-right: 39px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-right: auto;
    margin-left: 205px;
    padding: 15px 18px 16px 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -60px;
    margin-bottom: 53px;
    padding: 15px 29px 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 41px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 498px;
}

.u-section-2 .u-tabs-1 {
  min-height: 498px;
  height: auto;
  margin-top: 45px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-2 .u-image-1 {
  width: 474px;
  height: 328px;
  margin: 7px 0 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  margin: -261px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 31px 560px 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 212px;
  height: auto;
  min-height: 27px;
  margin: 0 auto 0 167px;
}

.u-section-2 .u-btn-1 {
  margin: 0 25px 0 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 16px;
  height: 16px;
  margin: -21px 0 5px auto;
  padding: 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 76px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 28px 569px 0 0;
}

.u-section-2 .u-image-2 {
  width: 453px;
  height: 283px;
  margin: -236px 49px 0 auto;
}

.u-section-2 .u-group-elements-2 {
  width: 201px;
  height: auto;
  margin: -19px auto 0 179px;
}

.u-section-2 .u-btn-2 {
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  margin: -27px auto 0 0;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 16px;
  height: 16px;
  margin: -22px 0 6px auto;
  padding: 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-2 .u-image-3 {
  width: 474px;
  height: 328px;
  margin: 23px 28px 0 638px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-size: 1.875rem;
  margin: -300px 494px 0 28px;
}

.u-section-2 .u-text-6 {
  margin: 28px 569px 0 28px;
}

.u-section-2 .u-group-elements-3 {
  width: 244px;
  height: auto;
  min-height: 27px;
  margin: 22px auto 0 310px;
}

.u-section-2 .u-btn-4 {
  margin: 0 24px 0 0;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 16px;
  height: 16px;
  margin: -22px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-group-elements-4 {
  width: 177px;
  height: auto;
  margin: -27px auto 0 28px;
}

.u-section-2 .u-btn-5 {
  margin: 0 24px 0 0;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 16px;
  height: 16px;
  margin: -22px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 413px;
  height: 310px;
  margin: 44px 140px 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  font-size: 1.875rem;
  margin: -298px auto 0 134px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px auto 0 134px;
}

.u-section-2 .u-group-elements-5 {
  width: 109px;
  height: auto;
  margin: 8px auto 0 134px;
}

.u-section-2 .u-btn-6 {
  margin: 0 29px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 16px;
  height: 16px;
  margin: -22px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 482px;
    margin-bottom: 30px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 370px;
    height: 259px;
    margin-top: 78px;
    margin-right: 70px;
    margin-left: 440px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -296px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    width: 430px;
    height: 269px;
    margin-top: -269px;
    margin-right: 63px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 199px;
    min-height: 27px;
    margin-top: 15px;
    margin-left: 28px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -21px;
  }

  .u-section-2 .u-image-3 {
    width: 431px;
    height: 297px;
    margin-top: 64px;
    margin-right: 63px;
    margin-left: 446px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -328px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 245px;
    margin-top: 13px;
    margin-left: 51px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 169px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 179px;
    min-height: 27px;
    margin-top: 14px;
    margin-left: 51px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 103px;
  }

  .u-section-2 .u-image-4 {
    width: 333px;
    height: 250px;
    margin-top: 83px;
    margin-right: 67px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -286px;
    margin-right: 90px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 30px;
    margin-left: 76px;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 27px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 437px;
    margin-bottom: 45px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 224px;
    height: 157px;
    margin-top: 116px;
    margin-right: 25px;
    margin-left: 410px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -260px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 288px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 210px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 367px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 292px;
  }

  .u-section-2 .u-image-2 {
    width: 216px;
    height: 135px;
    margin-top: -150px;
    margin-right: 31px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 31px;
    margin-left: 45px;
  }

  .u-section-2 .u-image-3 {
    width: 269px;
    height: 186px;
    margin-top: 127px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -280px;
    margin-right: 444px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 302px;
  }

  .u-section-2 .u-image-4 {
    width: 293px;
    height: 220px;
    margin-top: 85px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -273px;
    margin-right: 100px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 11px;
    margin-left: 55px;
  }

  .u-section-2 .u-group-elements-5 {
    margin-top: 11px;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 33px;
    margin-bottom: 19px;
    width: auto;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-tab-link-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-tab-link-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -307px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
    margin-right: 248px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 247px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -167px;
    margin-right: 11px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 53px;
    margin-left: 37px;
  }

  .u-section-2 .u-image-3 {
    height: 185px;
    margin-top: 152px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -337px;
    margin-right: 255px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 35px;
    margin-right: 255px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 22px;
  }

  .u-section-2 .u-image-4 {
    width: 215px;
    height: 162px;
    margin-top: 118px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -275px;
    margin-right: 101px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 18px;
    margin-left: 44px;
  }

  .u-section-2 .u-group-elements-5 {
    margin-top: 13px;
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 575px;
    margin-bottom: 30px;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    height: 115px;
    width: 165px;
    margin-top: 97px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -200px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 141px;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 213px;
    margin-top: 13px;
    margin-left: 39px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 198px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 0 13px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 176px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 212px;
    height: 132px;
    margin-top: -331px;
    margin-right: auto;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 213px;
    margin-left: 29px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .u-section-2 .u-image-3 {
    height: 90px;
    width: 129px;
    margin-top: 88px;
    margin-right: auto;
    margin-left: 97px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -169px;
    margin-right: 71px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 104px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 241px;
    margin-top: 16px;
    margin-left: 28px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 165px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -20px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 178px;
    margin-top: 11px;
    margin-left: 28px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 102px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -21px;
    margin-bottom: 5px;
  }

  .u-section-2 .u-image-4 {
    width: 144px;
    height: 108px;
    margin-top: 12px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -108px;
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 33px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-group-elements-5 {
    margin-top: 18px;
    margin-left: 43px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 695px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(77,96,100,0.4);
  font-size: 3rem;
  margin: 60px 10px 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 10px 0 0;
}

.u-section-3 .u-group-elements-1 {
  width: 66px;
  min-height: 26px;
  height: auto;
  margin: 17px auto 0 437px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 0 26px 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 16px;
  height: 16px;
  margin: -21px 0 0 auto;
  padding: 0;
}

.u-section-3 .u-group-elements-2 {
  width: 129px;
  min-height: 26px;
  height: auto;
  margin: -26px auto 60px 575px;
}

.u-section-3 .u-btn-2 {
  margin: 0 26px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 16px;
  height: 16px;
  margin: -21px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-1 {
    margin-left: 337px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    margin-left: 227px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    margin-left: 151px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-elements-1 {
    margin-top: 10px;
    margin-left: 48px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-left: 164px;
  }
}